/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto 24px;
}

.gallery-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-count {
  font-weight: 400;
  line-height: 200%;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.003, 1.003);
}

.gallery-img {
  height: 152px;
  object-fit: cover;
  object-position: center;
}

.form {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 36px auto;
  justify-content: center;
}

.form input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  color: #808080;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 272px;
  height: 38px;
  padding: 0 16px;
  border: 1px solid #808080;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  outline: none;
}

button:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #4e75ff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
